.dashboard-grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto;
}

.heading {
  margin: 10px;
  grid-row-start: 1;
  grid-row-end: 2;
}

.add-task {
  float: right;
}

.dashboard-panel {
  margin: 10px !important;
}

