.task-btns {
  float: right;
}

.task-grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  background-color: #ebebeb;
}

.task-grid-label {
  margin: 10px;
  grid-column-start: 0;
  grid-column-end: 1;
}

.task-grid-value {
  margin: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
}

