
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.grid-container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 50px 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #cccccc;
}

.page-content {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #adadad;
}